---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="container">
        Adding some text
        <a class="btn btn-primary" href="/resume_paul_pladziewicz.pdf" download="resume_paul_pladziewicz.pdf">Download My Resume</a>
    </div>
</Layout>

