<div class="container my-5 py-5">
    <h2 class="display-4 text-center mb-4">Where I Have Contributed</h2>
    <div class="row">
        <div class="col-md-4 p-5">
            <a href="https://us.etrade.com" target="_blank">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="/images/etrade-from-MS.svg" alt="E*TRADE from Morgan Stanley">
                </div>
            </a>
        </div>
        <div class="col-md-4 p-5">
            <a href="https://inrhythm.com" target="_blank">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img height="100px" alt="InRhythm" src="/images/IR_Logotype_white.svg" style="background-color: #FF5A0A">
                </div>
            </a>
        </div>
        <div class="col-md-4 p-5">
            <a href="https://gfs.com" target="_blank">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="/images/gfs.svg" alt="Gordon Food Service">
                </div>
            </a>
        </div>
        <div class="col-md-4 p-5">
            <a href="https://city2shore.com" target="_blank">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="/images/city2shore.png" alt="City2Shore" style="width: 500px;">
                </div>
            </a>
        </div>
        <div class="col-md-4 p-5">
            <a href="https://kyrosdigital.com" target="_blank">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="/images/kyros-logo.png" alt="Kyros Digital">
                </div>
            </a>
        </div>
        <div class="col-md-4 p-5">
            <a href="https://lucashowardgroup.com" target="_blank">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="/images/lucashowardgroup.png" style="height: 200px;">
                </div>
            </a>
        </div>
        <div class="col-md-4 p-5 justify-content-center align-items-center">
            <a href="https://trinityinfo.org" target="_blank">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="/images/trinity-logo.png" alt="Trinity Fellowship Evangelical Free Church">
                </div>
            </a>
        </div>
        <div class="col-md-4 p-5">
            <a href="https://drpaulthedentist.com" target="_blank">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img src="/images/drpaulthedentist.png" alt="Dr. Paul The Dentist">
                </div>
            </a>
        </div>
        <div class="col-md-4 p-5">
            <a href="https://jawormachine.com" target="_blank">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <img height="100px" src="/images/jawor-machine.svg" alt="Jawor Machine Co.">
                </div>
            </a>
        </div>
    </div>
</div>