<div class="container my-5 py-5">
    <h2 class="display-4 text-center mb-4">Where I Have Contributed</h2>
    <div class="row">
        <div class="col-md-4 p-5">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="/images/etrade-from-MS.svg" alt="E*TRADE from Morgan Stanley">
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img height="100px" src="/images/IR_Logotype_white.svg" style="background-color: #FF5A0A">
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="/images/gfs.svg">
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="/images/city2shore.png" style="width: 500px;">
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="/images/kyros-logo.png">
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="/images/lucashowardgroup.png" style="height: 200px;">
            </div>
        </div>
        <div class="col-md-4 p-5 justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="/images/trinity-logo.png" alt="Trinity Fellowship Evangelical Free Church">
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="/images/drpaulthedentist.png">
            </div>
        </div>
        <div class="col-md-4 p-5">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img height="100px" src="/images/jawor-machine.svg">
            </div>
        </div>
    </div>
</div>