<div class="container">
    <div class="row my-3 my-md-5 pb-5">
        <div class="col-md-5 d-flex align-items-center order-md-2">
            <img class="rounded mb-3 mb-md-0" src="/profilepicture.jpg"/>
        </div>
        <div class="col-md-7 d-flex align-items-center order-md-1">
            <div>
                <h1 class="display-3">Software Design, Development, and Deployment</h1>
                <p class="fs-lg mb-3">Software engineer with over 7 years of experience utilizing full-stack skills across the software development lifecycle.</p>
                <a class="btn btn-lg btn-link p-0 mt-3" href="/resume_paul_pladziewicz.pdf" download="resume_paul_pladziewicz.pdf">
                    Download Resume
                    <i class="ai-arrow-right ms-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>