<div class="container mt-3 mb-5 pb-5">
    <div class="row">
        <div class="col-md-5 d-flex flex-column align-items-center order-md-2">
            <img class="rounded mb-3" src="/profilepicture.jpg"/>
            <span class="fw-bold mb-3">Lead Software Engineer @ InRhythm, consulting at E*TRADE & Morgan Stanley | Full-Stack (React, Angular, Java, Spring, Node.js, AWS) | Financial Services & Healthcare Domain Knowledge</span>
        </div>
        <div class="col-md-7 d-flex align-items-center order-md-1">
            <div>
                <h1 class="display-3">Software Design, Development, and Deployment</h1>
                <p class="fs-lg mb-3">Software Engineer with 7+ years of experience designing, developing, and deploying web applications, backed by strong domain expertise in financial services and healthcare. I have delivered robust user interfaces using React and Angular, built backend services with Java and Node.js, and leveraged cloud platforms like AWS to deploy reliable, scalable infrastructure.</p>
                <a class="btn btn-lg btn-link p-0 mt-3" href="/resume_paul_pladziewicz.pdf" download="resume_paul_pladziewicz.pdf">
                    Download Resume
                    <i class="ai-arrow-right ms-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>