<header class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/pp.svg"  alt="logo" style="height: 50px; width: 50px;" />
        </a>
    </div>
</header>