<header class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/pp.svg"  alt="logo" style="height: 50px; width: 50px;" />
        </a>
        <div class="form-check form-switch mode-switch order-lg-2 me-3 me-lg-4 ms-auto" data-bs-toggle="mode">
            <input type="checkbox" class="form-check-input" id="theme-mode">
            <label for="theme-mode" class="form-check-label">
                <i class="ai-sun fs-lg"></i>
            </label>
            <label for="theme-mode" class="form-check-label">
                <i class="ai-moon fs-lg"></i>
            </label>
        </div>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarCollapse2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="https://blog.paulpladziewicz.com" class="nav-link" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="https://notes.paulpladziewicz.com" class="nav-link" target="_blank">Notes</a>
                </li>
            </ul>
        </nav>
    </div>
</header>