<div>
    <a style="color: #5e5e5e" href="https://www.linkedin.com/in/paulpladziewicz/" target="_blank"><i class="ai-linkedin fs-3 me-3"></i></a>
    <a style="color: #5e5e5e" href="https://github.com/paulpladziewicz" target="_blank"><i class="ai-github fs-3"></i></a>
</div>