---
import ContributedCodeLogos from "./ContributedCodeLogos.astro";
---
<div class="container">
	<label>
		Enter name:
		<input type="text">
	</label>
	<ContributedCodeLogos />
</div>

<style>
	.container {
		text-align: center;
	}
	input {
		width: 300px;
	}
</style>