---
import Navbar from "./Navbar.astro";
import Jumbotron from "./Jumbotron.astro";
import ContributedCodeLogos from "./ContributedCodeLogos.astro";
---
<div class="container">
	<Navbar />
	<!--<Jumbotron />-->
	<!--<ContributedCodeLogos />-->
</div>