---
import Navbar from "./Navbar.astro";
import Jumbotron from "./Jumbotron.astro";
import ContributedCodeLogos from "./ContributedCodeLogos.astro";
import Contact from "./Contact";
import Footer from "./Footer.astro";
---
<div class="container">
	<Navbar />
	<Jumbotron />
	<!--<ContributedCodeLogos />-->
	<Contact client:load />
	<Footer />
</div>